# Conjunto de dados Titanic (Kaggle)

### Bibliotecas básicas

In [1]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

print(f'Versão Pandas: {pd.__version__}')
print(f'Versão Numpy: {np.__version__}')

Versão Pandas: 1.0.5
Versão Numpy: 1.17.4

### Bibliotecas de visualização

In [2]:
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

%matplotlib inline
matplotlib.style.use(['seaborn'])

print(f'Versão Seaborn: {sns.__version__}')
print(f'Versão Matplotlib: {matplotlib.__version__}')

Versão Seaborn: 0.10.1
Versão Matplotlib: 3.2.1

### Dicionário dos dados

- **PassengerId**: identificador do passageiro;
- **Survived**: sobrevivência. 0 = não e 1 = sim;
- **Pclass**: classe da passagem. 1 = primeira classe, 2 = segunda e 3 = terceira;
- **Name, Sex, Age (nome, sexo e idade)**: auto-explicativo;
- **SibSp**: número de irmãos/cônjuges a bordo;
- **Parch**: número de pais/filhos a bordo;
- **Ticket**: número da passagem;
- **Fare**: valor da tarifa;
- **Cabin**: número da cabine;
- **Embarked**: local de embarque. C = Cherbourg, Q = Queenstown, S = Southampton

### Carregamento dos dados

In [3]:
import os

TITANIC_PATH = os.path.join('datasets', 'titanic')

def load_titanic_data(filename, titanic_path=TITANIC_PATH):
    csv_path = os.path.join(titanic_path, filename)
    return pd.read_csv(csv_path)

train_data = load_titanic_data('train.csv')
test_data = load_titanic_data('test.csv')

### Vamos dar uma olhada nas primeiras linhas do conjunto de treinamento:

In [4]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Vamos obter mais informações para ver quantos dados estão faltando:

In [5]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

### Vamos dar uma olhada nos atributos numéricos:

In [6]:
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

### Olhada rápida a target e nos atributos categóricos

In [7]:
train_data['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [8]:
train_data['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [9]:
train_data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [10]:
train_data['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

### Engenharia de recursos:

In [11]:
train_data['AgeBucket'] = train_data['Age'] // 15 * 15
train_data[['AgeBucket', 'Survived']].groupby(['AgeBucket']).mean()

           Survived
AgeBucket
0.0        0.576923
15.0       0.362745
30.0       0.423256
45.0       0.404494
60.0       0.240000
75.0       1.000000

In [12]:
train_data['RelativesOnboard'] = train_data['SibSp'] + train_data['Parch']
train_data[['RelativesOnboard', 'Survived']].groupby(['RelativesOnboard']).mean()

                  Survived
RelativesOnboard
0                 0.303538
1                 0.552795
2                 0.578431
3                 0.724138
4                 0.200000
5                 0.136364
6                 0.333333
7                 0.000000
10                0.000000

In [13]:
test_data['RelativesOnboard'] = test_data['SibSp'] + test_data['Parch']
test_data['AgeBucket'] = test_data['Age'] // 15 * 15

### Vamos criar o pipeline para pré-processamento

In [14]:
from sklearn.base import BaseEstimator, TransformerMixin

class DataFrameSelector(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_names):
        self.attribute_names = attribute_names
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        return X[self.attribute_names]

#### Atributos numéricos

In [15]:
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline

num_pipeline = Pipeline([
        ('select_numeric', DataFrameSelector(['Age', 'SibSp', 'Parch', 'Fare', 'RelativesOnboard', 'AgeBucket'])),
        ('imputer', SimpleImputer(strategy='median'))
])

#### Atributos categóricos

In [16]:
class MostFrequentImputer(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        self.most_frequent_ = pd.Series([X[c].value_counts().index[0] for c in X], index=X.columns)
        return self
    def transform(self, X, y=None):
        return X.fillna(self.most_frequent_)

In [17]:
from sklearn.preprocessing import OneHotEncoder

cat_pipeline = Pipeline([
        ('select_cat', DataFrameSelector(['Pclass', 'Sex', 'Embarked'])),
        ('imputer', MostFrequentImputer()),
        ('cat_encoder', OneHotEncoder(sparse=False))
])

#### Vamos juntar os pipelines numéricos e categóricos:

In [18]:
from sklearn.pipeline import FeatureUnion
preprocess_pipeline = FeatureUnion(transformer_list=[
        ("num_pipeline", num_pipeline),
        ("cat_pipeline", cat_pipeline),
    ])

#### Aplicando o pipeline nos dados:

In [19]:
X_train = preprocess_pipeline.fit_transform(train_data)
X_train

array([[22.,  1.,  0., ...,  0.,  0.,  1.],
       [38.,  1.,  0., ...,  1.,  0.,  0.],
       [26.,  0.,  0., ...,  0.,  0.,  1.],
       ...,
       [28.,  1.,  2., ...,  0.,  0.,  1.],
       [26.,  0.,  0., ...,  1.,  0.,  0.],
       [32.,  0.,  0., ...,  0.,  1.,  0.]])

### Target

In [20]:
y_train = train_data['Survived']
y_train[:5]

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

### Conjunto de teste

In [21]:
X_test = preprocess_pipeline.transform(test_data)

### Treinando um classificador:

In [22]:
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

In [23]:
ML_models = {}
model_summary = []
model_index = ['LR','Tree','SVC', 'MNB', 'KNC', 'MLP', 'RF']
model_sklearn = [LogisticRegression(), 
                 DecisionTreeClassifier(), 
                 SVC(), 
                 MultinomialNB(), 
                 KNeighborsClassifier(), 
                 MLPClassifier(), 
                 RandomForestClassifier()]


for name, model in zip(model_index, model_sklearn):
    ML_models[name] = model.fit(X_train,y_train)
    y_scores = cross_val_score(model, X_train, y_train, cv=10)
    model_summary.append([name, y_scores.mean()])
    

models_metrics = pd.DataFrame(model_summary, columns=['Name', 'Score'])
models_metrics.reset_index(inplace=True, drop=True)
models_metrics.sort_values(by=['Score'], ascending=False)

   Name     Score
6    RF  0.805930
0    LR  0.793521
1  Tree  0.781211
5   MLP  0.750911
4   KNC  0.719526
3   MNB  0.694844
2   SVC  0.684694